.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-header h1 {
  margin: 0;
  line-height: 50px;
}

.Card {
  list-style-type: none;
  display: inline-block;
}
cards{
  white-space: nowrap;
  display: inline-block;
}
cards>ul{
  display:inline-block;
  white-space: nowrap;
}
cards>ul>li{
  display: inline-block;
  white-space: nowrap;
}
cards>ul>li>Card{
  display: inline-block;
  white-space: nowrap;
}
div{
  width: 100000px;
  height: auto;
  overflow: hidden;
}
.integrations>li {
  display: inline-block;
  white-space: nowrap;
}
.integrations>ul{
  white-space: nowrap;
  display:inline-block;
}

.integrations>li>div {
  width: 200px;
  height: 100px;
}
.body {
  background-color: #333333;
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}
